:root {
    --black: #1F1F1F;
    --white: #DEDEDE;
    --green: #80DB0F;
}

* {
    margin: 0;
}

body {
    background-color: var(--white);
    font-family: Poppins;
    font-weight: 400;
}

header {
    background-color: var(--black);
    display: flex;
    align-items: center;
}

h1 {
    width: fit-content;
    margin: auto;
    color: var(--white)

}

#input-container {
    width: fit-content;
}

.input {
    background-color: var(--white);
    border: 2px solid var(--black);
    color: var(--black);
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0;
}

#activity-button {
    background-color: var(--green);
    color: var(--black);
    border: 2px solid white;
}

#activity-button:hover {
    cursor: pointer;
}

table {
    background-color: var(--white);
    visibility: hidden;
    padding: 20px 30px;
    width: 80%;
    margin: auto;
}

td {
    border: 1px solid var(--black);
    padding: 4px;
}

.checked {
    text-decoration: line-through;
    color: var(--white);
    background-color: var(--black);
}

.input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    color: #DEDEDE;
}

#username-box {
    color: var(--white);
    position: absolute;
    display: flex;
}

#username-text {
    margin: auto;
    margin-left: 10%;
    text-decoration-line:underline;
    text-decoration-color: var(--green);
    padding: 5px;
    cursor: default;
}

#username-bin {
    scale: 0.7;
    cursor: pointer;
}

.delete-button:hover {
    cursor: pointer;
}

#login-box {
    margin-left: 20%;
    padding: 5px;
    cursor: pointer;
    border: 1px solid var(--white);
    border-radius: 10px 0;
    transition: .4s;
}

#login-box:hover {
    background-color: var(--white);
    color: var(--black);
    border-radius: 0 10px;
}